<table class="table">
  <thead class="text-info">
    <th>ID</th>
    <th>Avatar</th>
    <th>Name</th>
    <th>Unipos</th>
    <th>Account</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <td><%= index_for index, params[:page] %></td>
        <td><%= image_tag user.avatar, {class: "rounded-circle img-fluid img-table show-user", user_id: user.id} %></td>
        <td><%= user.name %></td>
        <td><%= user.unipos_id %></td>
        <td><%= user.unipos_name %></td>
        <td class="td-actions text-right">
          <button type="button" user_id="<%= user.id %>" class="btn btn-info btn-link btn-sm show-user">
            <i class="material-icons">remove_red_eye</i>
          </button>
          <button type="button" user_id="<%= user.id %>" class="btn btn-danger btn-link btn-sm btn-delete-user">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users, window: 3 %>
