<div class="sidebar" data-color="purple">
  <div class="logo">
    <%= link_to "UniFork", root_path, class: "simple-text logo-normal"%>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item <%= active_menu admin_root_path  %>">
        <%= link_to admin_root_path, {class: "nav-link"} do %>
          <i class="material-icons">dashboard</i>
          <p>Dashboards</p>
        <% end %>
      </li>
      <li class="nav-item <%= active_menu admin_users_path %>">
        <%= link_to admin_users_path, {class: "nav-link"} do %>
          <i class="material-icons">person</i>
          <p>Users</p>
        <% end %>
      </li>
      <li class="nav-item <%= active_menu admin_uniposes_path %>">
        <%= link_to admin_uniposes_path, {class: "nav-link"} do %>
          <i class="material-icons">bubble_chart</i>
          <p>Unipos</p>
        <% end %>
      </li>
      <li class="nav-item <%= active_menu admin_chatwork_users_path %>">
        <%= link_to admin_chatwork_users_path, {class: "nav-link"} do %>
          <i class="material-icons">person</i>
          <p>Chatwork</p>
        <% end %>
      </li>
      <li class="nav-item <%= active_menu admin_tags_path %>">
        <%= link_to admin_tags_path, {class: "nav-link"} do %>
          <i class="material-icons">settings_ethernet</i>
          <p>Tags</p>
        <% end %>
      </li>
      <li class="nav-item <%= active_menu admin_settings_path %>">
        <%= link_to admin_settings_path, {class: "nav-link"} do %>
          <i class="material-icons">settings</i>
          <p>Settings</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>
