<div class="profile-page">
  <div class="page-header header-filter" data-parallax="true"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <%= image_tag @user_presenter.avatar, {class: "img-raised rounded-circle img-fluid img-profile", alt: @user.name} %>
              </div>
              <div class="name">
                <%= content_tag :h3, @user_presenter.name %>
                <%= content_tag :h6, @user_presenter.unipos_name %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 ml-auto mr-auto">
          <div class="profile-tabs mt-5">
            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
              <li class="nav-item">
                <%= link_to "#sent", role: "tab", class: "nav-link", data: { toggle: "tab" } do %>
                  <%= content_tag :i, @user_presenter.total_sent, class: "point" %>
                  <%= content_tag :span, "Sent" %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to "#received", role: "tab", class: "nav-link active", data: { toggle: "tab" } do %>
                  <%= content_tag :i, @user_presenter.total_received, class: "point" %>
                  <%= content_tag :span, "Received" %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to "#clapped", role: "tab", class: "nav-link", data: { toggle: "tab" } do %>
                  <%= content_tag :i, @user_presenter.total_clapped, class: "point" %>
                  <%= content_tag :span, "Clapped" %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-content tab-space invisible">
          <div class="tab-pane text-center gallery active" id="sent">
            <div class="row">
              <%= area_chart @user_presenter.sent_in_each_day %>
            </div>
          </div>
          <div class="tab-pane text-center gallery active" id="received">
            <div class="row">
              <%= area_chart @user_presenter.received_in_each_day %>
            </div>
          </div>
          <div class="tab-pane text-center gallery active" id="clapped">
            <div class="row">
              <%= area_chart @user_presenter.clapped_in_each_day %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer ">
    <div class="container">
      <nav class="pull-left">
        <ul>
          <li>
            <%= link_to "Home", root_path %>
          </li>
          <li>
            <%= link_to "About Us", "#" %>
          </li>
          <li>
            <%= link_to "GitHub", "#" %>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
</div>
