<table class="table">
  <thead class="text-info">
    <th>ID</th>
    <th>Sender</th>
    <th></th>
    <th>Receiver</th>
    <th></th>
    <th>Point</th>
    <th>Message</th>
    <th>Action</th>
  </thead>
  <tbody>
    <% @uniposes.each_with_index do |unipos, index| %>
      <tr>
        <td><%= index_for index, params[:page] %></td>
        <td><%= image_tag unipos.sender.avatar, {class: "rounded-circle img-fluid img-table show-user", user_id: unipos.sender.id} %></td>
        <td><%= unipos.sender.name %></td>
        <td><%= image_tag unipos.receiver.avatar, {class: "rounded-circle img-fluid img-table show-user", user_id: unipos.receiver.id} %></td>
        <td><%= unipos.receiver.name %></td>
        <td><%= unipos.point %></td>
        <td><%= unipos.message %></td>
        <td class="td-actions text-right">
          <button type="button" unipos_id="<%= unipos.id %>" class="btn btn-info btn-link btn-sm show-unipos">
            <i class="material-icons">remove_red_eye</i>
          </button>
          <button type="button" unipos_id="<%= unipos.id %>" class="btn btn-danger btn-link btn-sm btn-delete-unipos">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @uniposes, window: 3 %>
