<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Settings</h4>
            <p class="card-category">All settings for application</p>
            <%= button_tag class: "btn btn-primary btn-new-setting" do %>
              <i class="material-icons">border_color</i> New
            <% end %>
          </div>
          <div class="card-body table-responsive">
            <%= render "table"%>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <%= render "profile"%>
      </div>
    </div>
  </div>
</div>

<%= render "modal" %>
<%= render "shared/modal_confirm" %>
