<div class="container">
  <div class="row">
    <div class="col">
      <%= render "core_value" %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= render "top_received" %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= render "sent_in_day" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <%= render "sent_time_with_point" %>
    </div>
    <div class="col-md-4">
      <%= render "sent_and_clapped" %>
    </div>
  </div>
</div>
